/* h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
} */

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: tomato;
}

/* ========== MIN-WIDTH MAX-WIDTH ========== */
/* Когда ширина вьюпорта 400px или больше, применить правила внутри */
/* @media (min-width: 400px) {
  body {
    background-color: teal;
  }
} */

/* Когда ширина вьюпорта 768px или больше, применить правила внутри */
/* @media (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
} */

/* Когда ширина вьюпорта от 0 и до 767px, применить правила внутри */
/* @media (max-width: 767px) {
  body {
    background-color: teal;
  }
} */

/* Когда ширина вьюпорта от 0 и до 400px, применить правила внутри */
/* @media (max-width: 400px) {
  body {
    background-color: yellowgreen;
  }
} */
/* ========== AND ========== */
/* 

400+
0 - 767

*/
/* @media (min-width: 400px) and (max-width: 767px) {
  body {
    background-color: violet;
  }
} */
/* ========== OR ========== */
/* 
0 - 767
600+
*/
/* @media (max-width: 767px), (min-width: 1200px) {
  body {
    background-color: violet;
  }
} */
/* ========== TYPES ========== */
/* 
  all
  screen 
  print
  speech
*/
/* @media screen and (min-width: 768px) {
  body {
    background-color: violet;
  }
} */
/* @media print {
  .menu {
    display: none;
  }

  .modal-btn {
    display: none;
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 20px;
    line-height: 1.4;
  }
} */
/* ========== ORIENTATION ========== */
/* @media screen and (orientation: landscape) and (max-width: 767px) {
  body {
    background-color: violet;
  }
} */
