:root {
  --accent-color: #ff6c00;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* =========== COMPONENTS =========== */
.modal-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  /* color: #ffffff; */
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
/* =========== END COMPONENTS =========== */

/* =========== HEADER =========== */
.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* =========== END HEADER =========== */

/* =========== HERO =========== */
.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links-link:hover,
.social-links-link:focus {
  color: var(--accent-color);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  /* color: #ffffff; */
}
/* =========== END HERO =========== */
