:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

/* =========== COMPONENTS =========== */
.modal-btn {
  /* width: 160px; */
  /* height: 40px; */
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  /* color: #ffffff; */
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links-item:not(:last-child) {
  margin-right: 40px;
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.social-links-link:hover,
.social-links-link:focus {
  color: var(--accent-color);
}

.suptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  /* color: #303030; */
}

.title-theme-dark {
  margin-bottom: 44px;
}

.title-theme-light {
  margin-bottom: 20px;
}
/* =========== END COMPONENTS =========== */

/* =========== HEADER =========== */
.header {
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  /* color: #ffffff; */
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;
  /* color: #ffffff; */
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/* =========== END HEADER =========== */

/* =========== HERO =========== */
.hero-container {
  display: flex;
}

.hero-left-side {
  width: 100px;
}

.hero-right-side {
  flex-grow: 1;
  padding-left: 100px;
  padding-bottom: 206px;
  padding-top: 272px;
}

.hero-section-desc {
  max-width: 394px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  /* color: #ffffff; */
}
/* =========== END HERO =========== */

/* ============== ABOUT ============== */
.about-container {
  display: flex;
  justify-content: space-between;
}

.about-left-side,
.about-right-side {
  width: calc(100% / 2 - 15px);
}

.about-right-side {
  padding-left: 34px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-section-desc {
  margin-bottom: 20px;
}

.about-text {
  max-width: 480px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}
/* ============== END ABOUT ============== */

/* ============== SERVICES ============== */
.services-modal-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services-list-wrapper {
  display: flex;
  margin-bottom: 50px;
}

.services-list {
  width: 50%;
  padding: 30px 40px;
  border: 1px solid #000000;
}

.services-list-item {
  display: flex;
  justify-content: space-between;
}

.services-list-item:not(:last-child) {
  margin-bottom: 20px;
}

.services-list-name,
.services-list-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ============== END SERVICES ============== */

/* ============== ADVANTAGES ============== */
.advantages-container {
  display: flex;
  justify-content: space-between;
}

.advantages-section-desc {
  max-width: 470px;
}

.advantages-left-side,
.advantages-right-side {
  width: calc(100% / 2 - 15px);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 370px;
}

.advantages-list-item {
  width: 170px;
  min-height: 134px;
  padding: 20px;
  border: 1px solid #000000;
}

.advantages-list-item:nth-child(odd) {
  margin-bottom: 30px;
}

.advantages-list-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
}

.advantages-list-desc {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
/* ============== END ADVANTAGES ============== */

/* ============== MASTERS ============== */
.masters-list {
  display: flex;
  flex-wrap: wrap;
}

/* .masters-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.masters-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.masters-list {
  margin-left: -30px;
  margin-top: -30px;
}

.masters-list-item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.masters-list-content {
  padding-top: 30px;
}

.masters-list-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list-position {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
/* ============== END MASTERS ============== */

/* ============== GALLERY ============== */
.gallery-suptitle {
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery-list-item {
  width: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
/* ============== END GALLERY ============== */

/* ============== CONTACT FORM ============== */

/* ============== END CONTACT FORM ============== */

/* ============== CONTACT INFORMATION ============== */
.contact-list-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contact-info-date {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/* ============== END CONTACT INFORMATION ============== */

/* ============== FOOTER ============== */
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
/* ============== END FOOTER ============== */
