// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";

// BASE
@import "./base/common";
@import "./base/container";
@import "./base/section-padding";

// COMPONENTS
@import "./components/modal-btn";
@import "./components/social-links";
@import "./components/suptitle";
@import "./components/section-description";
@import "./components/title";
@import "./components/social-list";
@import "./components/modal/backdrop";
@import "./components/modal/modal-window";
@import "./components/modal/modal-form";

// LAYOUT
@import "./layout/header";
@import "./layout/hero";
@import "./layout/about";
@import "./layout/services";
@import "./layout/advantages";
@import "./layout/masters";
@import "./layout/gallery";
@import "./layout/contact-info";
@import "./layout/footer";
