.modal-btn {
  min-width: 160px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  @include font(12px, 600, 16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--accent-color);
  }
}

.modal-btn-theme-dark {
  color: #ffffff;
}
