.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  /* color: #303030; */
}

.title-theme-dark {
  margin-bottom: 44px;
  color: #ffffff;
}

.title-theme-light {
  margin-bottom: 20px;
  color: #303030;
}
